
bin/
.env
.env.*
logs/

deployment/secrets/*.pem
deployment/docker/enclave_artifacts/
deployment/docker/inputs/*.manifest.template
deployment/native/inputs/*.manifest.template
deployment/docker/enclave_artifacts/
deployment/native/enclave_artifacts/
deployment/secrets/mtls/