services:
  aleo-oracle-notarization-backend:
    image: ${APP}:latest
    container_name: notarization-backend
    build: 
      context: .
      dockerfile: ./build/Dockerfile
      secrets:
        - gramine-private-key
      args:
        APP: ${APP}
    platform: linux/amd64
    ports:
      - ${PORT}:${PORT}
    devices:
      - /dev/sgx_enclave:/dev/sgx_enclave
      - /dev/sgx_provision:/dev/sgx_provision

secrets:
  gramine-private-key:
    file: ./secrets/enclave-key.pem